.switchTheme {
    cursor: pointer;
    color: var(--links-color);
    display: flex;
    transition: 0.3s;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 35px;
    overflow: hidden;

    & p{
        margin-left: 15px;
        transition: 0.3s;
        overflow: hidden;
        max-width:111px;
        max-height: 26px;
    }

    & svg path{
        fill: var(--links-color);
        transition: 0.3s;
      
    }
}