.navbar {
  height: 95vh;
  width: 105px;
  border-radius: 12px;
  background-color: var(--bgcolor-color);
  margin: 12px;
  position: relative;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  & .open-menu-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--bgcolor-color);
    border-radius: 5px;
    box-shadow: 1px 1px 16px 2px rgb(148 137 137 / 20%);
    right: -11px;
    top: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    & svg {
      width: 7px;

      & path {
        stroke: var(--links-color);
      }
    }
  }

  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    background-color: var(--primary-color);
    border-radius: 9px;
    padding: 10px 4px;
    transition: 0.3s;

    & svg {
      width: 45px;
      transition: 0.3s;


      & path,
      & circle {
        fill: var(--logo-color);
        transition: 0.3s;
      }
    }
  }

  .linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 82%;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.open {
  width: 226px;

  .linkBox {
    margin: 6px 0;
  }
  .linkBox a p {
    max-width: 250px;
  }
 
}


.close {
  width: 106px;

  .linkBox a p {
    max-width: 0px;
  }
  .linkBox a {
    max-width: 39%;
    transform: translateX(18px);
  }
  .switchTheme svg {
    transform: translate(6px, 0px);
  }
  .switchTheme p {
    max-width: 0;
    overflow: hidden;
    // max-height: 0;
  }
  .profile{

    width: 69px;
    transform: translateX(2px);
  }
  .profile div {
    max-width: 0;
    overflow: hidden;
    max-height: 0;
  }
}
