:root {
    --primary-color: #305DF8;
    --title-color: #939ED3;
    --links-color: #6B76B1;
    --bgcolor-color:hsl(0, 0%, 100%);
    --logo-color:#ffff;
    --hover-color:#ECEFFF;
}

[data-theme = "dark"]{
  --primary-color: #ffff;
  --title-color: #6C6D72;
  --links-color: #D9D9D9;
  --logo-color:#305DF8;
  --bgcolor-color:#1B1C20;
  --hover-color:#323335;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #E1E4E9;
  transition: 0.3s;
}