:root {
   
    --light-primary-color: #305DF8;
    --light-title-color: #939ED3;
    --light-links-color: #626DAB;
    --light-bgcolor-color:#ffffff;
    --light-hover-color:#F8F9FE;
  
    --light-primary-color: #ffff;
    --light-title-color: #D9D9D9;
    --light-links-color: #D9D9D9;
    --light-bgcolor-color:#1B1C20;
    --light-hover-color:#323335;
  
  }

  body{
    background-color: #E1E4E9;
  }